<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<style>
    body {
        color: #000;
        background-color: #fff;
        font-family: 'Raleway', sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 1.42857143;
    }

    table,
    th,
    td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    table {
        table-layout: fixed;
        padding: 15px;
    }

    td {
        width: 50%;
        padding: 5px;
        text-align: center;
    }

    .margin {
        margin: 0 30px 0 30px;
    }

    li {
        font-size: 20px;
    }

    .contenedor {
        margin: 40px 40px 40px 40px;
    }

    .buttonContainer {
        height: 200px;
        position: relative;
    }

    .vertical-center {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
</style>

<body>

<div class="contenedor">
    <div class="buttonContainer">
        <div class="vertical-center">
            <button style="font-size: 6em;" onclick="goToTable()">Go to table</button>
        </div>
    </div>

    <hr>

    <div class="container">
        <div class="jumbotron">
            <h1>Aplicaciones Spring</h1>
            <p>Pequeña explicación para entender bases de Spring.</p>
        </div>
    </div>


    <h3>Para no mezclar el rol de Spring prefiero aclarar el rol que cumplen gradle o maven. </h3>

    <hr>

    <div style="background-color: #EBEBEB;">
        <h3>Definición de gradle:</h3>
        <h3><i>Gradle es un sistema de automatización de construcción de código de software</i></h3>

        <hr>

        <h3>Una vez abrimos un proyecto JAVA gestionado por gradle o maven podemos ejecutar el comando
            "ASSEMBLE" en gradle o "COMPILE" en MAVEN</h3>

        <h3>Una vez finalizado el proceso nuestro IDE es capaz de: </h3>
        <ol>
            <li>entender las relaciones entre todas las clases declaradas en el código.</li>
            <li>gestionar las clases proporcionadas por las librerías declaradas en importadas</li>
        </ol>

    </div>

    <h3><i>Hasta este punto Spring no ha estado presente.</i></h3>

    <hr>
    <h2>Una vez tenemos el proyecto compilado podemos desarrollar código o ejecutar el proyecto,
        aquí veremos actuar Spring.</h2>
    <ol>
        <li>Desarrollo: para que Spring pueda hacer su magia debemos programar con sus reglas.</li>
        <li>Ejecución: Este es el motivo de este repo.</li>
    </ol>

    <hr>
    <h1>Ejecución de un proyecto Spring</h1>
    <hr>
    <h3>En la ejecución de un proyecto Spring suceden muchas cosas que deseamos entender, pero una de ellas es la que
        desencadena toda la magia.</h3>
    <h3>El director de la orquesta: La anotación
        <mark>@SpringBootApplication</mark>
    </h3>
    <img th:src="@{/springBootAnnotation.png}"/>

    <h3>De las anotaciones declaradas nos interesan las 3 últimas</h3>

    <ol>
        <li>SpringBootConfiguration</li>
        <h3></h3>
        <li>EnableAutoConfiguration</li>
        <h3></h3>
        <li>ComponentScan</li>
        <h3></h3>
    </ol>

    <hr>
    <h2>Para simplificar vamos a asumir que Spring:
        <ol>
            <li>Escanea unos directorios.</li>
            <li>Crea un aplicationContext que gestiona beans.</li>
        </ol>
        <hr>
        <h2>Poco a poco, qué es un bean?</h2>

        <hr>
        <div style="background-color: #EBEBEB;">
            <h2>Bean</h2>
            <ol>
                <li>Es un java Object proporcionado por Spring.</li>
                <li>Se usa Object porque es la clase más abstracta y liviana que Java puede gestionar.</li>
                <li>Un bean "BookRepository" dispone de todos los atributos de BookRepository.class</li>
            </ol>
        </div>
        <hr>

        <h2>Los beans son gestionados por el aplicationContext.</h2>

        <div style="background-color: #EBEBEB;">
            <h2>El aplicationContext</h2>
            <ol>
                <li>Es otro objecto de Java proporcionado por Spring, con la capacidad de gestionar beans.</li>
                <li>Los beans son almacenados en un LinkedHashMap, cuyo key es el id, y cuyo value es un objecto
                    que contiene todos los atributos.

                    <hr>

                    Ejemplo:

                    <hr>

                    <img th:src="@{/personBean.png}"/>

                    <hr>
                    <img th:src="@{/guillermito.png}"/>
                    <hr>
                    <img th:src="@{/guillermitoWihout.png}"/>
                    <hr>

                </li>
            </ol>
        </div>


        <h2>A continuación tienes una lista de todos los beans que alberga nuestro application context</h2>
        <h2>Una vez pulses sobre un filtro la lista se rellenará</h2>

        <hr id="tableId">

        <div class="row justify-content-center margin">
            <div class="col-auto">
                <h1>BEANS:</h1>
                <h1 th:text="${beansLength}"></h1>

                <table class="table text-responsive">
                    <thead>
                    <tr>
                        <th> BEAN ID</th>
                        <th> BEAN PACKAGE</th>
                    </tr>

                    </thead>
                    <tbody>
                    <tr th:each="beans : ${beans}">
                        <td th:text="${beans.getKey}"></td>
                        <td th:text="${beans.getValue}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!--    botones-->
        <div class="row">
            <h1>FILTROS</h1>

            <table class="table text-responsive">
                <tbody>
                <tr>
                    <td><a style="font-size:2em;"
                           href="http://localhost:8080/app/appContextAnalysis?packageName=ALL">ALL</a></td>
                    <td><a style="font-size:2em;"
                           href="http://localhost:8080/app/appContextAnalysis?packageName=DOMAIN">DOMAIN</a>
                    </td>
                </tr>
                <tr>
                    <td><a style="font-size:2em;"
                           href="http://localhost:8080/app/appContextAnalysis?packageName=SERVICE">SERVICE</a>
                    </td>
                    <td><a style="font-size:2em;"
                           href="http://localhost:8080/app/appContextAnalysis?packageName=CONTROLLER">CONTROLLER</a>
                    </td>
                </tr>

                <tr>
                    <td><a style="font-size:2em;"
                           href="http://localhost:8080/app/appContextAnalysis?packageName=CONF">CONF</a></td>
                    <td><a style="font-size:2em;" href="http://localhost:8080/app/appContextAnalysis?packageName=MODEL">MODEL</a>
                    </td>
                </tr>
                </tbody>
            </table>

            <h1>ACCIONES SOBRE EL APLICATION CONTEXT</h1>

            <div class="row justify-content-center margin">
                <div class="col-auto">
                    <table class="table text-responsive">
                        <thead>
                        <tr>
                            <th> BORRAR BEAN</th>
                            <th> CREAR BEAN</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <button onclick="jsCallToDelete('http://localhost:8080/app/appContextAnalysis/destroyBean?beanId=', 'guillermito')">
                                    borrar bean guillermito
                                </button>
                            </td>
                            <td>
                                <button onclick="jsCallToCreate('http://localhost:8080/app/appContextAnalysis/createBean?beanId=', 'guillermito')">
                                    CREAR BEAN guillermito
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button onclick="jsCallToDelete('http://localhost:8080/app/appContextAnalysis/destroyBean?beanId=', 'raulito')">
                                    borrar bean raulito
                                </button>
                            </td>
                            <td>
                                <button onclick="jsCallToCreate('http://localhost:8080/app/appContextAnalysis/createBean?beanId=', 'raulito')">
                                    CREAR BEAN raulito
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button onclick="jsCallToDelete('http://localhost:8080/app/appContextAnalysis/destroyBean?beanId=', 'jesusito')">
                                    borrar bean jesusito
                                </button>
                            </td>
                            <td>
                                <button onclick="jsCallToCreate('http://localhost:8080/app/appContextAnalysis/createBean?beanId=', 'jesusito')">
                                    CREAR BEAN jesusito
                                </button>
                            </td>
                        </tr>

                        <tr>

                            <td>
                                <button onclick="jsCallToDelete('http://localhost:8080/app/appContextAnalysis/destroyBean?beanId=', 'person')">
                                    borrar bean person
                                </button>
                            </td>
                            <td>
                                <button onclick="jsCallToCreate('http://localhost:8080/app/appContextAnalysis/createBean?beanId=', 'person')">
                                    CREAR BEAN person
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <hr>

            <pre>Pregunta lógica:

                Por qué puedo registrar un bean "Jesusito.class" después de eliminar del context la clase
                de la cual extiende (Person.class) ?

                La tarea es crear un bean de "Jesusito.class", lo único que el aplicationContext necesita para ello
                es analizar los atributos necesarios de "Jesusito.class", por lo que la existincia o no existencia
                del bean del padre es irrelevante.

            </pre>

            <hr>

            <h2>Ejercicio 1 - borrar un bean </h2>
            <ol>
                <li>Filtra por "MODEL".</li>
                <li>Borra un bean cualquiera.</li>
                <li>Filtra por MODEL.</li>
                <li>Ese bean habrá desaparecido.</li>
            </ol>

            <hr>

            <h2>Ejercicio 2 - crear un bean </h2>
            <ol>
                <li>Crea un bean del tipo que borraste.</li>
                <li>Filtra por "MODEL".</li>
                <li>Aparecerá ese bean, pero con otro id.</li>

                <hr>

                <pre>* Pregunta lógica: cuando lanzamos la aplicación el bean de "Whatever.class" se registra con el id "whatever".
                    Por qué cuando creo un bean en runtime el id es el nombre del package?

                    Respuesta:
                    DefaultListableBeanFactory.java extiende de SingletonBeanRegistry y es el usado por defecto para crear los beans
                    antes de desplegar la aplicación.

                    Una vez la aplicación está en runtime estoy usando GenericWebApplicationContext para registrar beans.
                    GenericWebApplicationContext implementa BeanDefinitionRegistry, el cual extiende de AliasRegistry, y la asignación de id
                    es otorgar el package del class pertinente si no se le pasa ningún otro.

                    Tal vez aquí venga a cuento aquí observar que los beans están almacenados en un LinkedHashMap para no poder almacenar
                    id's duplicados.

                    Si a un LinkedHashMap le pedimos que guarde 2 objetos con mismo id, el segundo simplemente no se guarda.

                </pre>
            </ol>

            <hr>

            <h3>Profundizando en eso:</h3>
            <h4>Podemos tener 2 beans de la misma clase, para ello tenemos que asignarles un id diferente.</h4>
            <h4>Vuelve a lanzar la aplicación , filtra por MODEL y observa que tenemos un bean con id "com.example.autoconf.model.Guillermito".</h4>
            <h4>Este id no ha sido generado por Spring sino que es custom, debido a ello ahora puedes crear
            un nuevo Guillermito sin borrar el previo.</h4>

            <hr>
            <h2>Exclusiones</h2>

            <h3>Del mismo modo que podemos añadir/quitar beans en runtime tb podemos añadir anotaciones condicionales
                que modificarán nuestro application Context durante el despliegue.</h3>

            <h2>Ejercicio 3</h2>

            <ol>
                <li>Ir a la clase ApplicationConfiguration</li>
                <li>Descomentar algún condicional</li>
                <li>Lanzar</li>
                <li>Cuando el condicional se cumpla veremos nuevos beans en MODEL</li>
            </ol>
            <h3>Este condicional es intuitivo, si se cumple se creará el bean y los beans que contiene la clase.</h3>
            <h3>Si el condicional se cumple podrás ver nuevos beans filtrando por MODEL y applicationConfiguration filtrando por CONF</h3>

            <h2>Ejercicio 4</h2>

            <ol>
                <li>Cambiar el perfil "local" a "dev" en application.properties</li>
                <li>Lanzar aplicación</li>
                <li>Filtra por ALL y busca devProfile</li>
            </ol>

            <hr>

            <h2>Ejercicio 5</h2>
            <h2> Excluir packages vía profile</h2>


        </div>
</div>

</body>

<script>

    function goToTable() {
        var top = document.getElementById("tableId").offsetTop;
        window.scrollTo(0, top);
    }

    function jsCallToDelete(url, beanName) {
        console.log(url);
        $.ajax({
            url: url + beanName + "#tableId",
            contentType: "application/json",
            dataType: 'json',
            success: function (result) {
                console.log(result);
            }
        })
    }

    function jsCallToCreate(url, beanName) {
        $.ajax({
            url: url + beanName + "#tableId",
            contentType: "application/json",
            dataType: 'json',
            success: function (result) {
                console.log(result);
            }
        })
        console.log(url);
    }
</script>
</html>