<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<style>
    table,
    th,
    td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    table {
        table-layout: fixed;
        padding: 15px;
    }

    td {
        width: 50%;
        padding: 5px;
        text-align: center;
    }

    .margin {
        margin: 0 30px 0 30px;
    }

    li {
        font-size: 20px;
    }

    .contenedor {
        margin: 40px 40px 40px 40px;
    }
</style>

<body>

<div class="contenedor">
    <button onclick="goToTable()">Go to table</button>
    <h1 style="color: lightblue">Aplicaciones Spring</h1>

    <h3>Para no mezclar el rol de Spring prefiero aclarar el rol que cumplen gradle o maven. </h3>

    <hr>

    <div style="background-color: #EBEBEB;">
        <h3>Definición de gradle:</h3>
        <h3><i>Gradle es un sistema de automatización de construcción de código de software</i></h3>

        <hr>

        <h3>Una vez abrimos un proyecto JAVA gestionado por gradle o maven podemos ejecutar el comando
            "ASSEMBLE" en gradle o "COMPILE" en MAVEN</h3>

        <h3>Una vez finalizado el proceso nuestro IDE es capaz de: </h3>
        <ol>
            <li>entender las relaciones entre todas las clases declaradas en el código.</li>
            <li>gestionar las clases proporcionadas por las librerías declaradas en importadas</li>
        </ol>

    </div>

    <h3>Hasta este punto Spring no ha estado presente.</h3>

    <hr>
    <h2>Una vez tenemos el proyecto compilado podemos modificar código o ejecutar el proyecto,
    aquí veremos actuar Spring.</h2>
    <ol>
        <li>Desarrollo: para que Spring pueda hacer su magia debemos programar con sus reglas.</li>
        <li>Ejecución: Este es el motivo de este repo.</li>
    </ol>

    <hr>
    <h1>Ejecución de un proyecto Spring</h1>
    <hr>
    <h2>En la ejecución de un proyecto Spring sucenden muchas cosas que deseamos entender, pero una es la que
    desencadena el comportamiento de todo.</h2>
    <h2>El director de la orquesta: La anotación @SpringBootApplication</h2>
    <img th:src="@{/springBootAnnotation.png}"/>

    <h3>De las anotaciones declaradas nos interesan las 3 últimas</h3>

    <ol>
        <li>SpringBootConfiguration</li>
        <h3></h3>
        <li>EnableAutoConfiguration</li>
        <h3></h3>
        <li>ComponentScan</li>
        <h3></h3>
    </ol>

    <hr>
    <h2>Para simplificar vamos a asumir que Spring escanea unos directorios y declara unos beans en un xml </h2>
    <h2>A continuación tienes una lista de todos los beans que alberga nuestro application context</h2>
    <h2>Una vez pulses sobre un filtro la lista se rellenará</h2>

    <hr id="tableId">

    <div class="row justify-content-center margin">
        <div class="col-auto">
            <h1>BEANS:</h1>
            <h1 th:text="${beansLength}">  </h1>

            <table class="table text-responsive">
                <thead>
                <tr>
                    <th> BEAN NAME</th>
                    <th> PACKAGE</th>
                </tr>

                </thead>
                <tbody>
                <tr th:each="beans : ${beans}">
                    <td th:text="${beans.getKey}"></td>
                    <td th:text="${beans.getValue}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!--    botones-->
    <div class="row">
        <h1 style="font-size:3em;">FILTROS</h1>

        <table class="table text-responsive">
            <tbody>
            <tr>
                <td><a style="font-size:2em;"
                       href="http://localhost:8080/app/appContextAnalysis?packageName=ALL">ALL</a></td>
                <td><a style="font-size:2em;" href="http://localhost:8080/app/appContextAnalysis?packageName=DOMAI">DOMAIN</a>
                </td>
            </tr>
            <tr>
                <td><a style="font-size:2em;" href="http://localhost:8080/app/appContextAnalysis?packageName=SERVICE">SERVICE</a>
                </td>
                <td><a style="font-size:2em;"
                       href="http://localhost:8080/app/appContextAnalysis?packageName=CONTROLLER">CONTROLLER</a></td>
            </tr>

            <tr>
                <td><a style="font-size:2em;"
                       href="http://localhost:8080/app/appContextAnalysis?packageName=CONF">CONF</a></td>
                <td><a style="font-size:2em;" href="http://localhost:8080/app/appContextAnalysis?packageName=MODEL">MODEL</a>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="row justify-content-center margin">
            <div class="col-auto">
                <table class="table text-responsive">
                    <thead>
                    <tr>
                        <th> BEAN NAME</th>
                        <th> PACKAGE</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <button onclick="jsCallToDelete('http://localhost:8080/app/appContextAnalysis/destroyBean?beanId=', 'guillermito')">
                                borrar bean guillermito
                            </button>
                        </td>
                        <td>
                            <button onclick="jsCallToCreate('http://localhost:8080/app/appContextAnalysis/createBean?beanId=', 'guillermito')">
                                CREAR BEAN guillermito
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button onclick="jsCallToDelete('http://localhost:8080/app/appContextAnalysis/destroyBean?beanId=', 'raulito')">
                                borrar bean raulito
                            </button>
                        </td>
                        <td>
                            <button onclick="jsCallToCreate('http://localhost:8080/app/appContextAnalysis/createBean?beanId=', 'raulito')">
                                CREAR BEAN raulito
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button onclick="jsCallToDelete('http://localhost:8080/app/appContextAnalysis/destroyBean?beanId=', 'jesusito')">
                                borrar bean jesusito
                            </button>
                        </td>
                        <td>
                            <button onclick="jsCallToCreate('http://localhost:8080/app/appContextAnalysis/createBean?beanId=', 'jesusito')">
                                CREAR BEAN jesusito
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <h2>Ejercicio 1</h2>
        <ol>
            <li>Filtra por "MODEL"</li>
            <li>Borra cualquier bean </li>
            <li>Filtra por MODEL</li>
            <li>Ese bean habrá desaparecido</li>
        </ol>

        <h2>Ejercicio 2</h2>
        <ol>
            <li>Crea un bean</li>
            <li>Filtra por "MODEL"</li>
            <li>Aparecerá ese bien</li>
        </ol>

        <hr>
        <h3>Observación:</h3>
        <h4>Podemos tener 2 beans de la misma clase, para ello tenemos que asignarles un id diferente</h4>
        <h4>El id que Spring asigna por defecto es "whateverClass" para la clase WhateverClass.class"</h4>

        <hr>
        <h2>Exclusiones</h2>

        <h3>Del mismo modo que podemos añadir/quitar beans en runtime tb podemos añadir anotaciones condicionales
            que modificarán nuestro application Context.</h3>

        <h3>Ejercicio 3</h3>

        <ol>
            <li>Ir a la clase ApplicationConfiguration</li>
            <li>Descomentar algún condicional</li>
            <li>Lanzar</li>
        </ol>
        <h2>Este condicional es intuitivo, si se cumple se creará el bean y los beans que contiene la clase.</h2>
        <h2>Si el condicional se cumple podrás ver los beans filtrando por MODEL</h2>

        <h3>Ejercicio 4</h3>

        <ol>
            <li>Filtra por CONTROLLER</li>
            <li>Ir a la clase AutoConfApplication</li>
            <li>Descomentar linea 14</li>
            <li>Lanzar</li>
            <li>Filtra por CONTROLLER</li>
        </ol>

        <hr>

        <h2> Excluir packages vía profile</h2>

        <ol>
            <li>Descomentar linea 17 de la clase AutoConfApplication</li>
            <li>Cambiar el profile a dev (buscar spring.profiles.active y cambiar)</li>
            <li>Ejecutar aplicación</li>
            <li>Visualizar todos los beans del aplicationContext (botón ALL)</li>
            <li>Encontrarás el bean devProfile</li>

        </ol>



    </div>
</div>

</body>

<script>

    function goToTable() {
        var top = document.getElementById("tableId").offsetTop;
        window.scrollTo(0, top);
    }

    function jsCallToDelete(url, beanName) {
        console.log(url);
        $.ajax({
            url: url + beanName + "#tableId",
            contentType: "application/json",
            dataType: 'json',
            success: function (result) {
                console.log(result);
            }
        })
    }

    function jsCallToCreate(url, beanName) {
        $.ajax({
            url: url + beanName + "#tableId",
            contentType: "application/json",
            dataType: 'json',
            success: function (result) {
                console.log(result);
            }
        })
        console.log(url);
    }
</script>
</html>